@import url('https://fonts.googleapis.com/css?family=Karla:400,600|Poppins:300,400');

html, body{
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 600;
}

h1 {
  font-size: 1.8rem;
  color: $header-color;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.page-title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2rem;

  &__subtitle {
    text-align: center;
    font-size: 1.1rem;
  }
}