extends main

include ../mixins/company-navigation
include ../mixins/header

block content
  +header()
  .d-flex.user-dashboard
    .content
      .container
        .row
          .col-12
            h1 
              block title
        block primary
    .right-content
      block right