extends main

include ../mixins/company-navigation
include ../mixins/header

block content
  +header()
    +company-navigation()
  .user-dashboard
    block dashboard-content
      .content
        .container
          .row
            .col-12
              h1 
                block title
          block primary