extends main

include ../mixins/student-sidebar
include ../mixins/header

block vars
  - var collapseSidebar = false

block content
  +header()
  .d-flex.user-dashboard
    .sidebar__column
      +student-sidebar(collapseSidebar)
    .content
      .container
        .row
          .col-12
            h1 
              block title
        block primary
    .right-content
      block right