extends ../../layouts/student-dashboard

block title
  | Dashboard

block primary
  .fair-list.form
    .row
      for fair in fairs
        a(href="/fairs/"+fair.alias).col-sm-6.col-md-4.form__field
          label.form__label= fair.description
          .form__title= fair.name
