.room {
  display: flex;
  flex-direction: row;

  &__videos {
    flex: 2;
    margin-right: 1rem;
  }

  &__resume {
    flex: 1;
  }

  &__resume-document {
    width: 100%;
    height: 100%;
  }

  &__resume-row {
    flex: 1;
  }
}