.room {
  &__company-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $header-color;
  }

  &__resume {
    width: 100%;
    height: 100%;
  }

  &__resume-row {
    flex: 1;
  }

  &__resume-container {
    display: flex;
    flex-direction: column;
    min-height: 35rem;
    height: 100%;
  }
}