mixin header()
  section.header#header
    .container-fluid
      nav.nav.nav--dark.flex-row.align-items-md-center.align-items-start
        .mx-auto
          img.nav__logo(src="/assets/logo-white.svg")
          | CareerJump
        .float-right.d-lg-none
          button.navbar-toggler.hamburger__toggler(type="button" data-toggle="collapse" data-target="#sidebar")
            span.navbar-toggler-icon.hamburger__toggle-icon