.about {
  margin: 5rem 0;
  text-align: center;
  position: relative;

  @include media-breakpoint-up(md) {
    margin: 5rem 0 4rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__contents {
    font-size: 1.1rem;
    color: $header-color;
  }
}