.admin-interview-list {
  &__title {
    font-weight: bold;
    color: $primary-light;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    background: $secondary-light;
    color: $primary-light;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__date {
    font-size: 0.8rem;
  }
}