.company-badge {
  content: '';
  width: $badge-size;
  height: $badge-size;
  margin-top: 0.1rem;
  background: $primary-light;
  transform: rotate(45deg);
  border-radius: 0.2rem;
  display: inline-block;
}