$event-border-radius: 1rem;
$event-shadow: 0px 0px 18px 10px rgba(0,0,0,0.05);

.event {
  min-height: 20rem;
  box-shadow: $event-shadow;
  border-radius: $event-border-radius;
  display: flex;
  padding: 0;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
  background: $white;

  @include media-breakpoint-up(md) {
    min-height: 25rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__header {
    @include step-gradient($step-1-color);

    flex: 0.4;
    font-size: 1.3rem;
    line-height: 1.2;
    border-top-left-radius: $event-border-radius;
    border-top-right-radius: $event-border-radius;
    display: flex;
    flex-direction: column;
    align-content: center;

    &-title {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: $white;
      padding: 1rem 1.5rem 0;
    }

    &--secondary {
      @include step-gradient($step-2-color);
    }

    &--tertiary {
      @include step-gradient($step-3-color);
    }
  }

  &__part {
    $part-size: 6rem;
    $background-darken: 0%;

    color: $primary-light;
    font-size: 1rem;
    padding-bottom: 1rem;
    background: darken($step-1-color, $background-darken);
    text-align: center;
    width: $part-size;
    height: $part-size;
    border-radius: 50%;
    line-height: $part-size;
    margin: 0 auto (-0.5 * $part-size);
    box-shadow: $event-shadow;

    img {
      max-height: ($part-size - 1rem);
      max-width: ($part-size - 1rem);
    }

    &--secondary {
      background: darken($step-2-color, $background-darken);
    }

    &--tertiary {
      background: darken($step-3-color, $background-darken);
    }
  }

  &__description {
    flex: 1;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 1rem 1.5rem 0;
    color: $dark-font;
  }

  &__step {
    padding: 0;
    font-size: 1rem;
    color: $black;
    margin-top: 4rem;

    &-highlight {
      text-decoration: underline;
    }
  }
}