.hero {
  width: 100%;
  background: $careerjump-gradient;
  color: $hero-font-color;
  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 27.5rem;
  }

  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../assets/bg-clip.svg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -0.1em;
    left: 0;
    background-image: url(../assets/contact-clip.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  h1 {
    color: $hero-font-color;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    margin: 0 0 1rem;
    font-size: 2.5rem;
  }

  &__location {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 1rem;
  }

  &__feature {
    padding: 4rem 0;
  }

  &__feature-image {
    max-height: 15rem;
  }

  &__cta {
    margin-top: 1rem;
  }

  &__fields {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  }

  &__email {
    flex: 1;
  }
}