.home-nav { 
  padding: 2rem 0 1rem; 
 
  @include media-breakpoint-up(lg) { 
    padding: 2rem 0; 
  } 
 
  &__links { 
    list-style: none; 
    margin-bottom: 0; 
  } 
 
  &__link { 
    color: $link-inactive; 
 
    &--dark { 
      color: $primary-dark; 
 
      &:hover { 
        color: darken($primary-dark, 10%); 
        text-decoration: none; 
      } 
    } 
 
    &:hover { 
      color: $link-active; 
      text-decoration: none; 
    } 
 
    &--no-color { 
      color: inherit; 
 
      &:hover { 
        color: inherit; 
      } 
    } 
  } 
 
  &__link-item { 
    &:not(:first-child) { 
      margin-left: 2rem; 
    } 
  } 
 
  &__logo { 
    height: 2rem; 
  } 
}
