.rounded-input {
  border-radius: $border-radius;
  display: inline;
  width: auto;
  
  min-width: 10rem;
  padding: 0.49rem 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 0 5px rgba(255,255,255, 0.7);
  border-radius: $border-radius;
  background: $white;
  color: $primary-dark;
  display: inline-block;
  transition: background 100ms linear, color 100ms linear;

  &::placeholder {
    color: lighten($primary-dark, 20%);
  }

  &:focus {
    border-color: $primary-dark;
    box-shadow: 0 0 0 5px transparentize($primary-dark, 0.75);
  }
}