.sidebar {
  margin: 0rem;
  padding: 0rem;
  
  @include media-breakpoint-up(lg) {
    box-shadow: $sidebar-shadow;
    margin: 0 0 0 2rem;
  }

  &--collapsed {
    // Only collapse to icons on full-screens
    @include media-breakpoint-up(lg) {
      max-width: 5rem;

      .sidebar {
        &__column {
          min-width: none;
        }

        &__text {
          display: none;
        }

        &__header {
          display: none;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    color: $header-color;
  }

  &__item {
    $item-tb-padding: 0.8rem;
    list-style: none;
    padding: $item-tb-padding 2rem;
    color: $header-color;

    &--header {
      margin-bottom: 1rem;
      color: $black;
    }

    &:hover {
      border-left: 2px $primary-light solid;
      padding: $item-tb-padding 2rem $item-tb-padding calc(2rem - 2px);
      background-color: $primary-light-hover;
    }
  }
}