$local-video-size: 12rem;
$remote-video-size: 35rem;

.video-feeds {
  &__local {
    margin-top: 1rem;
    height: $local-video-size;
    background: $video-background;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    video {
      max-height: $local-video-size;
      max-width: 100%;
    }
  }

  &__remote {
    height: $remote-video-size;
    background: $video-background;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    video {
      max-height: $remote-video-size;
      max-width: 100%;
    }
  }

  &__volume-metre {
    margin: 0 1rem;
    background: #EEEEEE;
  }
}