.white-button {
  min-width: 10rem;
  padding: 0.5rem 1rem;
  margin: 0 5px;
  box-shadow: 0 0 0 5px rgba(255,255,255, 0.7);
  border-radius: $border-radius;
  background: transparent;
  color: $white;
  display: inline-block;
  transition: background 100ms linear, color 100ms linear;
  
  &:hover {
    cursor: pointer;
    background: $white;
    color: $primary-dark;
    text-decoration: none;
  }

  &--inline {
    display: inline;
    margin: 0;
    min-width: 0;
  }

  &--invert {
    background: $primary-dark;
    
    &:hover {
      box-shadow: 0 0 0 5px transparentize($primary-dark, 0.75);
      border: $primary-dark 1px solid;
    }
  }
}