extends ../layouts/main

block content
  .login-page.h-100.text-center
    .login-page__before.d-flex.flex-column.justify-content-end.container
      if error
        .login-page__error.alert.alert-danger.alert-dismissible.fade.show
          span #{error}
          button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;

    .login-page__content.container
      if messages.error
        .alert.alert-danger= messages.error
      form.login.form(method="post" action="/login")
        img.login__logo.mb-4(src="/assets/logo.svg")
        h1.d-inline CareerJump
        div.form__field.text-left
          label.form__label(for="inputEmail") Email Address
          input#inputEmail.form__text(type="email" placeholder="Email address" name="email" required autofocus)
        div.form__field.text-left
          label.form__label(for="inputPassword") Password
          input#inputPassword.form__text(type="password" placeholder="Password" name="password" required)
        button.mt-4.btn.btn-lg.btn-primary.btn-block(type="Submit") Sign In
    
    .login-page__after