extends ../layouts/user-dashboard

block primary
  section.room#room
    .container
      .row
        .col
          h1 Room 
            span#room-name
      .video-feeds
        .row
          .col-md-8
            h2 Their Feed (Replace with Name)
            .video-feeds__remote#remote-media-div
          .col-md-4
            h2 You
            .video-feeds__local#local-media-ctr
            .row
              .col
                h3 Your Guest
                .font-weight-bold Name
                p RedbackThomson
                .font-weight-bold University
                p University of Disappearance
                .font-weight-bold Major
                p Mathematics-Computer Science

block scripts
  script(src="//media.twiliocdn.com/sdk/js/video/v1/twilio-video.min.js")
  script(type="text/javascript").
    roomName="#{roomName}";
  script(type="text/javascript" src="/js/room.js")