mixin admin-interview-list(interviews)
  .admin-interview-list
    .admin-interview-list__title Upcoming Interviews
    ul.admin-interview-list__list
      each interview in interviews
        li.admin-interview-list__item
          span.user-badge.mr-2
          .admin-interview-list__info
            .admin-interview-list__name= interview.studentUser.profile.firstName + " " + interview.studentUser.profile.lastName
            .admin-interview-list__date= moment(interview.dataValues.scheduled).format(dateTimeFormat)